{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Log out" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="{% url "account_logout" %}">
                <h5>{% trans "Log out:" %}</h5>
                
                {% csrf_token %}
                <p>{% trans "Are you sure you want to log out?" %}</p>
                
                <button type="submit" class="waves-effect center-align waves-light btn red">{% trans "Log out" %}</button>
            </form>
        </div>
    </div>
{% endblock %}