{% extends 'base.html' %}
{% block head_title %}AppRoom{% endblock %}
{% block content %}
  <div id="fullpage">
    <div class="section" id="section1">
      <div class="container" style="text-align: center">
        <!--Section1 content goes here-->
        <h2 class="white-text center-align" align="top">Welcome to AppRoom!</h2>
        <p class="white-text flow-text center-align">{% lorem 10 w%}</p>
        <img class="center-align" src="http://lorempixel.com/1100/300" style="margin-top: 20px"> 
        <a class="waves-effect waves-light btn red" style="margin-top: 50px" htef="">Browse Apps</a>
      </div>
    </div>
    <div class="section" id="section2"></div>
  </div>
{% endblock %}
{% block extra_script %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#fullpage').fullpage({
      sectionsColor: ['#1e88e5', "#ffffffff"],
      scrollingSpeed: 1000
    });
  });
</script>
{% endblock %}
